<p>
  <strong>Name:</strong>
  <%= @developer.name %>
</p>
 
<p>
  <strong>Surname:</strong>
  <%= @developer.surname %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @developer.phone %>
</p>

<%= link_to 'Developers', developers_path %>